build/index.html
<!DOCTYPE html>
<html class="page-index" lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="test task">
		<title>test
		</title>
		<link rel="stylesheet" href="css/main.css?v=1536608045258">
	</head>
	<body>
		<!--start project 14:12-->
		<!--start header 14:12-->
		<div class="header flex">
			<div class="menu-mobile">
				<div class="mobile-line _1"></div>
				<div class="mobile-line _2"></div>
				<div class="mobile-line _3"></div>
			</div>
			<ul class="menu flex">
								<li class="menu-list flex"><a class="menu-link" href="#info">Личная информация</a></li>
								<li class="menu-list flex"><a class="menu-link" href="#experience">Опыт</a></li>
								<li class="menu-list flex"><a class="menu-link" href="#js">JavaScript</a></li>
								<li class="menu-list flex"><a class="menu-link" href="#about">О себе</a></li>
			</ul>
		</div>
		<!--end header 14:15-->
		<!--start main title-->
		<div class="main-title">
			<div class="main-bg"></div>
			<h1 class="h1">Анкета	</h1>
		</div>
		<!--end main title 14:15-->
		<!--start info-->
		<div class="main">
			<div class="info" id="info">
				<div class="block-icon"><img src="images/info.svg"></div>
				<h2 class="block-title">Личная информация</h2>
				<div class="info-inputs">
					<div class="info-input--item"><span class="info-input--subtext">ФИО</span>
						<input class="info-input" type="text" name="name" value="Христев Роман Борисович">
					</div>
					<div class="info-select">
						<div class="select">
							<select class="info-input">
								<option value="1990">1990</option>
								<option value="1991">1991</option>
								<option value="1992">1992</option>
								<option value="1993">1993</option>
								<option value="1994">1994</option>
								<option value="1995" selected="selected">1995</option>
								<option value="1996">1996</option>
								<option value="1997">1997</option>
								<option value="1998">1998</option>
							</select>
						</div>
					</div>
					<div class="info-input--item"><span class="info-input--subtext">Место проживания</span>
						<input class="info-input" type="text" name="place" value="Одесса">
					</div>
					<div class="info-input--item"><span class="info-input--subtext">Skype</span>
						<input class="info-input" type="text" name="skype" value="dalnikcc@gmail.com">
					</div>
					<div class="info-input--item"><span class="info-input--subtext">E-mail</span>
						<input class="info-input" type="text" name="e-mail" value="dalnikcc@gmail.com">
					</div>
				</div>
			</div>
			<!--end info 14:22-->
			<!--start experience-->
			<div class="experience" id="experience">
				<div class="block-icon"><img src="images/experience.svg"></div>
				<h2 class="block-title">Расскажите о своем опыте</h2>
				<div class="experience-checkboxes flex">
										<div class="checkbox-item">
											<input class="checkbox-input" type="checkbox" name="css-frameworks" id="css-frameworks" checked="checked">
											<label class="checkbox-label" for="css-frameworks">БЭМ/OOCSS</label><span class="checkbox-mask"></span>
										</div>
										<div class="checkbox-item">
											<input class="checkbox-input" type="checkbox" name="css-preprocessor" id="css-preprocessor" checked="checked">
											<label class="checkbox-label" for="css-preprocessor">Stylus/LESS/SASS</label><span class="checkbox-mask"></span>
										</div>
										<div class="checkbox-item">
											<input class="checkbox-input" type="checkbox" name="svg" id="svg" checked="checked">
											<label class="checkbox-label" for="svg">Работаю с SVG</label><span class="checkbox-mask"></span>
										</div>
										<div class="checkbox-item">
											<input class="checkbox-input" type="checkbox" name="semantic" id="semantic" checked="checked">
											<label class="checkbox-label" for="semantic">Верстаю семантично</label><span class="checkbox-mask"></span>
										</div>
										<div class="checkbox-item">
											<input class="checkbox-input" type="checkbox" name="js-standart" id="js-standart" checked="checked">
											<label class="checkbox-label" for="js-standart">ES2015/ES2016</label><span class="checkbox-mask"></span>
										</div>
										<div class="checkbox-item">
											<input class="checkbox-input" type="checkbox" name="collector" id="collector" checked="checked">
											<label class="checkbox-label" for="collector">Gulp/GRUNT</label><span class="checkbox-mask"></span>
										</div>
					<div class="checkbox-item">
						<input class="checkbox-input" type="checkbox" name="webpack" id="webpack">
						<label class="checkbox-label" for="webpack">Webpack</label><span class="checkbox-mask"></span>
					</div>
										<div class="checkbox-item">
											<input class="checkbox-input" type="checkbox" name="jquery" id="jquery" checked="checked">
											<label class="checkbox-label" for="jquery">jQuery</label><span class="checkbox-mask"></span>
										</div>
										<div class="checkbox-item">
											<input class="checkbox-input" type="checkbox" name="git" id="git" checked="checked">
											<label class="checkbox-label" for="git">Ипользую Git</label><span class="checkbox-mask"></span>
										</div>
				</div>
			</div>
			<!--end experience 14:32-->
			<!--start js-->
			<div class="js" id="js">
				<div class="block-icon"><img src="images/js.svg"></div>
				<h2 class="block-title">Уровень владениея JavaScript</h2>
				<div class="slider-wrap">
					<div class="slider-points flex">
						<p class="slider-point _1">Не владею<span class="slider-dot slider-dot--fisrt">....... </span></p>
						<p class="slider-point _2">Использую готовые решения<span class="slider-dot slider-dot--sec">......</span></p>
						<p class="slider-point _3">Использую готовые решения и умею их переделывать<span class="slider-dot slider-dot--third">..... </span></p>
						<p class="slider-point _4">Пишу сложный JS с нуля<span class="slider-dot slider-dot--last">....</span></p>
					</div>
					<div class="slider">
						<div class="slider-runner"></div>
						<div class="slider-shadow"></div>
						<div class="slider-mask"></div>
						<div class="slider-btn"></div>
					</div>
				</div>
			</div>
			<!--end js 14:37-->
			<!--start about-->
			<div class="about" id="about">
				<div class="block-icon"><img src="images/experience.svg"></div>
				<h2 class="block-title">Расскажите о себе</h2>
				<p class="about-summary">Напишите несколько предложений, чем привлекла наша вакансия и что вы ожидаете от работы у нас.</p>
				<textarea class="about-text" name="tell_smth" cols="3" rows="1" placeholder="Понравилась тем, что...">Мне заинтересовало то, что компания давно на рынке и имеет большое количество готовых работ. Хотел бы стать частью команды т.к. считаю, что работа с Вами позволит мне участвовать в различных интересных проектах. Так же, понравилось тествое задание, которое было непростым, но интересным, я такие предпочитаю</textarea>
			</div>
			<!--end experience 14:40-->
			<!--start done-->
			<div class="done">
				<button class="done-btn">Готово</button>
			</div>
			<!--end done 14:40-->
		</div>
		<script src="js/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
		<script src="js/vendor.js?v=1536608045258"></script>
		<script src="js/main.js?v=1536608045258"></script>
	</body>
</html>

src/index.pug
extends pug/base

append vars
	- html.classList.push("page-index")
	- meta.charset = "utf-8"
	- meta.description = "test task"
	- title = "test"
	- meta.viewport = "width=device-width, initial-scale=1"
	
block content
	//start project 14:12
	
	//start header 14:12
	.header.flex
		.menu-mobile
			.mobile-line._1
			.mobile-line._2
			.mobile-line._3
		ul.menu.flex
			mixin menu_item(anchor, link_name)
				li.menu-list.flex
					a(href=anchor).menu-link=link_name
			+menu_item('#info', 'Личная информация')
			+menu_item('#experience', 'Опыт')
			+menu_item('#js', 'JavaScript')
			+menu_item('#about', 'О себе')
	//end header 14:15

	//start main title
	.main-title
		.main-bg
		h1.h1 Анкета	
	//end main title 14:15

	//start info
	.main
		.info#info
			.block-icon
				img(src="images/info.svg")
			h2.block-title Личная информация
			.info-inputs
				.info-input--item
					span.info-input--subtext ФИО
					input(type="text" name="name" value="Христев Роман Борисович").info-input
				.info-select
					.select
						select.info-input
							option(value="1990") 1990
							option(value="1991") 1991
							option(value="1992") 1992
							option(value="1993") 1993
							option(value="1994") 1994
							option(value="1995" selected="selected") 1995
							option(value="1996") 1996
							option(value="1997") 1997
							option(value="1998") 1998
				.info-input--item
					span.info-input--subtext Место проживания
					input(type="text" name="place"  value="Одесса").info-input
				.info-input--item
					span.info-input--subtext Skype
					input(type="text" name="skype"   value="dalnikcc@gmail.com").info-input
				.info-input--item
					span.info-input--subtext E-mail
					input(type="text" name="e-mail"  value="dalnikcc@gmail.com").info-input
		//end info 14:22

		//start experience
		.experience#experience
			.block-icon
				img(src="images/experience.svg")
			h2.block-title Расскажите о своем опыте
			.experience-checkboxes.flex
				mixin checkbox(id, label)
					.checkbox-item
						input(type="checkbox" name=id id=id checked='checked').checkbox-input
						label.checkbox-label(for=id)=label
						span.checkbox-mask
				+checkbox('css-frameworks', 'БЭМ/OOCSS')
				+checkbox('css-preprocessor', 'Stylus/LESS/SASS')
				+checkbox('svg', 'Работаю с SVG')
				+checkbox('semantic', 'Верстаю семантично')
				+checkbox('js-standart', 'ES2015/ES2016')
				+checkbox('collector', 'Gulp/GRUNT') 
				.checkbox-item
					input(type="checkbox" name='webpack' id='webpack' ).checkbox-input
					label.checkbox-label(for='webpack') Webpack
					span.checkbox-mask
				+checkbox('jquery', 'jQuery')
				+checkbox('git', 'Ипользую Git') 
		//end experience 14:32

		//start js
		.js#js
			.block-icon
				img(src="images/js.svg")
			h2.block-title Уровень владениея JavaScript
			.slider-wrap
				.slider-points.flex
					p.slider-point._1 Не владею
						span.slider-dot.slider-dot--fisrt ....... 
					p.slider-point._2 Использую готовые решения
						span.slider-dot.slider-dot--sec ......
					p.slider-point._3 Использую готовые решения и умею их переделывать
						span.slider-dot.slider-dot--third ..... 
					p.slider-point._4 Пишу сложный JS с нуля
						span.slider-dot.slider-dot--last ....
				.slider
					.slider-runner
					.slider-shadow
					.slider-mask
					.slider-btn
		//end js 14:37

		//start about
		.about#about
			.block-icon
				img(src="images/experience.svg")
			h2.block-title Расскажите о себе
			p.about-summary Напишите несколько предложений, чем привлекла наша вакансия и что вы ожидаете от работы у нас.
			textarea(name="tell_smth", cols="3", rows="1" placeholder="Понравилась тем, что..." ).about-text Мне заинтересовало то, что компания давно на рынке и имеет большое количество готовых работ. Хотел бы стать частью команды т.к. считаю, что работа с Вами позволит мне участвовать в различных интересных проектах. Так же, понравилось тествое задание, которое было непростым, но интересным, я такие предпочитаю
		//end experience 14:40

		//start done
		.done
			button.done-btn Готово
		//end done 14:40

	script(src="js/jquery-3.1.1.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js")
